<div class="card-container" onclick="location.href = '/anime/<%= value.id %>'">
    <div class="card-caption">
        <h1 class="card-title"><%= value.name %></h1>
        <p><%= value.rating %></p>
        <div class="card-tags"><%= value.genres %></div>
    </div>
</div>