* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
}

nav {
  background-color: darkseagreen;
  color: white;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

button[type="submit"] {
  background-color: darkseagreen;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3px;
  font-size: large;
}

input,
textarea {
  border-radius: 16px;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3px;
  padding: 0.5rem 1rem;
}

textarea {
  width: 100%;
  resize: none;
}

label {
  margin-bottom: 0.5rem;
}

nav > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a {
  font-size: larger;
}

.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.home-container {
  text-align: center;
  padding-top: 1rem;
}

#search-anime {
  border-style: solid;
  border-color: grey;
  border-width: 0 0 1px;

  text-align: center;
  height: 32px;
  width: min(100%, 30rem);
}

#search-anime:focus {
  outline: none;
}

.anime-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 2rem;
}

.card-container {
  min-height: 250px;
  border: 1px solid rgb(128, 128, 128, 0.5);
  flex: 1 0 35rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;

  display: flex;
  justify-content: end;
  flex-direction: column;
  cursor: pointer;
}

.card-caption {
  background-color: rgba(0, 0, 0, 0.25);
  min-height: 5rem;
  text-align: start;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 16px;
}

.card-tags {
  flex: 1 0 100%;
}

.card-title {
  font-size: medium;
}

.login-title {
  margin-top: 2rem;
}

.login-container {
  background-color: antiquewhite;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form input {
  width: min(30rem, 100%);
  text-align: center;
}

.admin-title {
  margin-top: 16px;
}

.admin-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.admin-form > div > * {
  display: block;
  text-align: start;
}

.admin-form input {
  width: 100%;
}

.anime-input-container {
  flex-grow: 3;
}

/* .rating-input-container {
} */

.description-input-container {
  flex-basis: 100%;
}

.genre-input-container {
  flex-basis: 100%;
}
