<div class="container home-container">
    <input type="text" name="search-anime" id="search-anime" placeholder="Search animes">
    <div class="anime-list">
        <div class="card-container"></div>
        <div class="card-container"></div>
        <div class="card-container"></div>
        <div class="card-container"></div>
        <div class="card-container"></div>
        <div class="card-container"></div>
        <div class="card-container"></div>
        <div class="card-container"></div>
    </div>
</div>