<div class="container home-container">
    <form action="/" method="post">    
        <input type="text" name="search-anime" id="search-anime" placeholder="Search animes">
        <button type="submit">Search</button>
    </form>

    <div class="anime-list">
        <% animes.forEach((value) => { %>
            <%- include("../components/card", {value: value}) %>
        <% }); %>
    </div>
</div>