
<div class="container">
    <h2 class="login-title">Admin Login</h2>
    <div class="login-container">
        <form action="/login" method="post" class="login-form">
            <div>
                <div><label for="username">Username</label></div>
                <div><input type="text" name="username" id="username"></div>
            </div>
            <div>
                <div><label for="password">Password</label></div>
                <div><input type="password" name="password" id="password"></div>
            </div>
            <div><button type="submit">Login</button></div>
        </form>
    </div>
</div>